#wrapper {
  display: flex;
}

#wrapper #content-wrapper {
  background-color: #f8f9fc;
  width: 100%;
  overflow-x: hidden;
}

.bg-login-image {
  background: url("../public/assets/images/image3.jpg");
}

.bg-register-image {
  background: url("../public/assets/images/image2.jpg");
}
